<h2>News page </h2>
{{#if todos.length}}
<table id="myTable">
    <tr>
        <th onclick="sortTable(0)">title</th>
        <th onclick="sortTable(1)">Message</th>
        <th onclick="sortTable(2)">Status</th>
        <th onclick="sortTable(3)">Date</th>
    </tr>
    {{#each todos}}
    <tr class="todo">
        <form action="/complete" method="POST">
        <label>
            {{#if completed}}
            <td>
                <input type="checkbox" checked name="completed">
                <span style="font-size: 20px;" class="completed">{{title}} <br> {{message}} <br> {{status}} <br> {{date}}  </span>
            </td>
            {{else}}
            <td>
                <input type="checkbox" name="completed">
                <span style="font-size: 20px;">{{title}} <br> {{message}} <br> {{status}} <br> {{date}}</span>
            </td>
            {{/if}}
            <input type="hidden" name="filename" value="{{fileName}}">
            <input type="hidden" value="{{_id}}" name="id">
            <button style="float: right;" name="download" class="btn btn-small" type="submit">Download file</button> 
            <button style="float: right;" name="save" class="btn btn-small" type="submit">Save</button>
        </label>
        </form>
    </tr>
    {{/each}}
</table>
{{else}}
<p>No fresh articles</p>
{{/if}}
<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
<h2>News page </h2>
{{#if todos.length}}
<ul>
    
    {{#each todos}}
    <li class="todo">
        <form action="/complete" method="POST">
        <label>
            {{#if completed}}
                <input type="checkbox" checked name="completed">
                <span style="font-size: 20px;" class="completed">{{title}} <br> {{message}} <br> {{status}} <br> {{date}}  </span>
            {{else}}
                <input type="checkbox" name="completed">
                <span style="font-size: 20px;">{{title}} <br> {{message}} <br> {{status}} <br> {{date}}</span>
            {{/if}}
            <input type="hidden" name="filename" value="{{fileName}}">
            <input type="hidden" value="{{_id}}" name="id">
            <button style="float: right;" name="download" class="btn btn-small" type="submit">Download file</button> 
            <button style="float: right;" name="save" class="btn btn-small" type="submit">Save</button>
        </label>
        </form>
    </li>
    {{/each}}
</ul>
{{else}}
<p>No fresh articles</p>
{{/if}}